title: Mapley
email: seokbong60@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "/mapley" # the subpath of your site, e.g. /blog
#baseurl: ""

url: "https://blog.sweetcase.kr"
#url: "http://127.0.0.1:4000"

# Build settings
theme: minima
plugins:
  - jekyll-feed


# user info
username: Vector7
introduce: "Fullstack Developer(DJango & ReactJS), Classical Composer, Jekyll Designer"

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

sass:
  style: compressed

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/