<!-- post paper area -->

{% assign home_link = "/" | absolute_url %}
{% assign contents_link = "/contents" | absolute_url %}
{% assign diaries_link = "/diaries" | absolute_url %}
<div class="content-post-layer">
    <a class="underline-remover" href="{{ home_link }}"><div class="papaer" id="index">index</div></a>
    <a class="underline-remover" href="{{ contents_link }}"><div class="papaer" id="contents">contents</div></a>
    <a class="underline-remover" href="{{ diaries_link }}"><div class="papaer" id="diary">diary</div></a>
</div>