// global 하게 사용되는 요소를 작성하는데 사용하는 파일 입니다.

// headings
h1,h2,h3,h4,h5,h6 {
    font-family: $write-font-family;
}

// normal font
p, blockquote,
ul, ol, dl,
figure {
    font-family: $write-font-family;
    line-height: 1.6;
}
// code font
pre, code {
    font-family: $code-font-family;
    white-space: pre-wrap;
    line-height: 1.2;
}

// body wallpaper
/*
    left 30%: user content
    center 900px: write content
*/
body {
    background-image: $body-wallpaper;
    background-size: cover;
}
// body opacity
.content-layer {
    position: absolute;
    background-color: rgba(0,0,0,0.57);
    width: 96vw;
    height: 93vh;
    top: 0;
    left: 0;
    
    @include media-query-in-desktop() {
        padding: 30px;
    }
}

.desktop-area {
    width: 100%;
    height: 100%;
    display: flex;

    // in user layer
    .user-layer {
        width: 40%;
        background-color: transparent;
        height: 400px;

        // in table must be disabled
        @include media-query-in-tablet() {
            display: none;
        }
    }

    // In book area
    .book-cover-layer {
        height: 95%;
        width: 800px;
        background-color: $book-cover-color;
    
        margin-left: 20px;
        margin-right: 65px;
        border-radius: 10px;
        
        padding: 10px 25px 10px 5px;
        box-shadow: 0 0 20px 3px $book-paper-color;
        display: flex;

        @include media-query-in-tablet() {
            margin-left: 50px;
            margin-top: 50px;
        }
        
        // in real write contents layer
        .paper-layer {
            border-radius: 10px;
            width: 93%;
            height: 98%;
            
            padding: 10px 30px 10px 20px;
            background-color: $book-paper-color;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 12px;
                height: 6px;

                margin: 4px;

                border-radius: 6px;
                background: $scroll-background-color;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $scroll-color;
                border-radius: 6px;
            }
        }
    }
    @include media-query-in-mobile() {
        display: none;
    }
}