// global 하게 사용되는 요소를 작성하는데 사용하는 파일 입니다.

// headings
h1,h2,h3,h4,h5,h6 {
    font-family: $write-font-family;
}

img {
    box-shadow: 4px 3px 4px black;
}
a {
    text-decoration: none;
    color: blue;
    padding: 0px 4px 0px 4px;

    &:hover {
        color: red;
        text-decoration: underline dotted;
    }    
}

// normal font
p, blockquote,
ul, ol, dl,
figure, em, u {
    font-family: $write-font-family;
    line-height: 1.6;
}
// 기울임꼴은 흐리게 할거임
em {
    color: gray;
}
// 밑줄은 빨간색
u {
    text-decoration-color: red;
}
// code font
pre {
    padding: 10px 20px 10px 12px;
    border-radius: 4px;
    box-shadow: 1.3px 1px 2px black;
}
code {
    font-family: $code-font-family;
    white-space: pre-wrap;
    line-height: 1.2;
}

// body wallpaper
/*
    left 30%: user content
    center 900px: write content
*/
body {
    background-image: $body-wallpaper;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: -10px 0;
    display: flex;
}

// tag badge
.tag-badge {
    background-color: $default-badge-color;
    color: white;
    font-size: 1.2em;
    font-family: $tag-badge-font-family;
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
    box-shadow: 2px 1px 2px black;
    margin-left: 3px;
}

.content-layer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    
    @include media-query-in-desktop() {
        padding: 30px;
    }
}

// desktop area
.layer {
    width: 100%;
    height: 100%;
    display: flex;

    @include media-query-in-tablet() {
        display: block;
    }
    @include media-query-in-mobile() {
        display: block;
    }

    // in user layer
    .user-layer {
        width: 35%;
        background-color: transparent;
        color: black;
        font-family: $user-info-font-family;

        
        .user-image {
            transform: scale(0.6);
            content: $user-image;
            border-radius: 50%;
            box-shadow: 0 0 20px 3px black;
            
        }

        .summary-layer {
            margin-top: 10%;
            width: 70%;
            padding: 15px;
            background-color: $user-info-background-color;
            box-shadow: 6px 3px 6px black;
            border-radius: 6px;
        }
        .title-layer {
            width: 100%;
        }
        .introduce-layer {
            width: 90%;
        }

        .follow-layer {
            margin-top: 10%;
            width: 70%;
            padding: 15px;
            background-color: white;
            box-shadow: 6px 3px 6px black;
            border-radius: 6px;

            .line {
                width: 100%;
                height: 1px;
                background-color: black;
            }
            .contact-line {
                margin-top: 10px;
                margin-bottom: 10px;
                .title {
                    margin-bottom: -10px;
                }
            }
        }

        // in table and mobile must be disabled
        @include media-query-in-tablet() {
            display: none;
        }
        @include media-query-in-mobile() {
            display: none;
        }
    }

    .mobile-navbar {
        width: 100%;
        padding-top: 5px 0px 5px 0px;
        box-shadow: 0px 5px 5px black;
        background-color: $book-cover-color;
        color: white;
        position: fixed;

        // Only Mobile
        @include media-query-in-desktop() {
            display: none;
        }
        
    }
    // clicked
    .mobile-navbar:active {
        background-color: $clicked-mobile-navbar-color;
    }

    // In book area
    .book-cover-layer {
        height: 88vh;
        width: 700px;
        background-image: $bookcover-texture;
        background-repeat: repeat;
    
        margin-left: 20px;
        border-radius: 10px;
        
        padding: 20px 25px 20px 5px;
        box-shadow: 3px 5px 20px 10px black;
        display: flex;

        @include media-query-in-tablet() {
            width: 100%;
            height: 100%;
            margin-left: 0px;
            background-image: none;
            background-color: transparent;
            padding: 0px;
        }

        // No bookcover
        @include media-query-in-mobile() {
            width: 100%;
            height: 100%;
            margin-left: 0px;
            background-image: none;
            background-color: transparent;
            padding: 0px;
        }
        
        // in real write contents layer
        .paper-layer {
            border-radius: 10px;
            width: 100%;

            padding: 70px 70px 30px 70px;
            background-color: $book-paper-color;
            overflow-y: scroll;


            &::-webkit-scrollbar {
                width: 12px;
                height: 6px;

                margin: 4px;

                border-radius: 6px;
                background: $scroll-background-color;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $scroll-color;
                border-radius: 6px;
            }
            @include media-query-in-tablet() {
                overflow: hidden;
            }

            @include media-query-in-mobile() {
                overflow: hidden;
                padding: 70px 15px 30px 15px;
            }
        }
    }
    .content-post-layer {
        margin-left: -26px;
        margin-right: 65px;
        margin-top: 20px;
        
        .paper {
            padding: 15px 2px 15px 2px;
            font-family: $post-papaer-font-family;
            color: black;
            writing-mode: vertical-rl;
            font-size: 1.7em;
            border-radius: 6px;
            box-shadow: 6px 3px 6px black;
            margin-bottom: -10px;
        }
        .underline-remover {
            text-decoration: none;
        }
        // contents color
        #index { background-color: $post-paper-index-color; }
        #contents { background-color: $post-paper-contents-color; }
        #diary { background-color: $post-paper-diary-color; }
        
        @include media-query-in-tablet() {
            display: none;
        }
        @include media-query-in-mobile() {
            display: none;
        }
    }
}

// Drawer For Tablet & Mobile
.contents-drawer {
    position: absolute;
    padding-top: 100px;
    display: none;

    .paper {
        padding: 15px 2px 15px 2px;
        font-family: $post-papaer-font-family;
        color: black;
        writing-mode: vertical-rl;
        font-size: 1.7em;
        border-radius: 6px;
        box-shadow: 6px 3px 6px black;
        margin-bottom: -10px;

        @include media-query-in-tablet() {
            font-size: 2em;
        }
    }
    .underline-remover {
        text-decoration: none;
    }

    #index { background-color: $post-paper-index-color; }
    #contents { background-color: $post-paper-contents-color; }
    #diary { background-color: $post-paper-diary-color; }

    @include media-query-in-desktop() { 
        display: none;
    }
}

.contact-in-mobile {
    width: 100%;
    display: flex;
    font-size: 0.8em;

    .line {
        width: 1px;
        height: auto;
        background-color: black;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact-line {
        width: 40%;
    }
    .follow-line {
        width: 40%;
    }

    @include media-query-in-desktop() {
        display: none;
    }
}