// global 하게 사용되는 요소를 작성하는데 사용하는 파일 입니다.

// headings
h1,h2,h3,h4,h5,h6 {
    font-family: $write-font-family;
}

// normal font
p {
    font-family: $write-font-family;
}

// body wallpaper
/*
    left 30%: user content
    center 900px: write content
*/
body {
    background-image: $body-wallpaper;
    background-size: cover;
}
// body opacity
.content-layer {
    position: absolute;
    background-color: rgba(0,0,0,0.57);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
    @include media-query-in-desktop() {
        padding: 30px;
    }
}

.desktop-area {
    width: 100%;
    height: 100%;
    @include media-query-in-desktop() {
        display: flex;
    }
    @include media-query-in-mobile() {
        display: none;
    }
}

// User Area
.user-area-in-desktop {
    width: 34%;
    background-color: transparent;
    height: 400px;
}
.book-cover-in-desktop {
    width: 800px;
    background-color: $book-cover-color;
    height: 100%;

    margin-left: 20px;
    margin-right: 65px;
    border-radius: 10px;

    box-shadow: 0 0 20px 3px $book-paper-color;
}