<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Right Navbar For Moble / Tablet -->
        {% include contents-drawer.html %}

        <!-- Content Area -->
        <div class="content-layer">
            <div class="layer">
                <!-- User Area -->
                {% include user-info-desktop.html %}
                <!-- Navbar Area (Only Mobile & Tablet) -->
                {% include mobile-navbar.html %}
                
                <!-- Book Area -->
                <div class="book-cover-layer">
                    <div class="paper-layer">
                        <center>
                            <h1>Diary</h1>
                            <p>This Layout is been like contents post. but It supposed posts like essay and diary</p>
                        </center>
                        
                        {% assign posts = site.posts | sort: "date" | reverse %}
                        {% for post in posts %}
                            <!-- Get Only Type Diary -->
                            {% if post.type == "diary" %}
                                <!-- Get Prrint -->
                                {% assign date_format = post.date | date: "%Y.%-m.%-d" %}
                                {% assign title = date_format | append: " - " | append: post.title %}

                                <!-- Make url -->
                                {% assign site_url = site.url | append: site.baseurl %}
                                {% assign diary_url = post.url | replace:".html","" | prepend: site_url %}
                                    
                                <p class="diary-text-item">
                                    <a href={{ diary_url }} >{{ title }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                        <div class="content-page-layer">
                            {% include footer.html %}
                        </div>
                    </div>
                </div>
                {% include postpaper-navbar.html %}
            </div>
        </div>
        {% include foot.html %}
    </body>
</html>