<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Content Area -->
        <div class="content-layer">
            <!-- On Desktop -->
            <div class="desktop-area">
                <!-- User Area -->
                {% include user-info-desktop.html %}
                <!-- Book Area -->
                <div class="book-cover-layer">
                    <div class="paper-layer">
                        <center>
                            <h1>{{ page.title }}</h1>
                            <div class="title-line"></div>
                            <img class="index-image" src="{{ page.profile_picture.src }}" />
                        </center>
                        {{ content }}
                        
                        {% include footer.html %}
                    </div>
                </div>
                {% include postpaper-navbar.html %}
            </div>
            <!-- On Mobile -->
        </div>
    </body>
</html>