<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Content Area -->
        <div class="content-layer">
            <!-- On Desktop -->
            <div class="desktop-area">
                <!-- User Area -->
                <div class="user-layer">
                
                </div>
                <!-- Book Area -->
                <div class="book-cover-layer">
                    <div class="paper-layer">
                        <center>
                            <h1>{{ page.title }}</h1>
                            <div class="title-line"></div>
                        </center>
                        {{ content }}
                    </div>
                    <!-- post paper area -->
                    <div class="content-post-layer">
                        <div class="papaer" id="index">index</div>
                        <div class="papaer" id="contents">contents</div>
                        <div class="papaer" id="diary">diary</div>
                    </div>
                </div>
            </div>

            <!-- On Mobile -->
        </div>
    </body>
</html>