<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Content Area -->
        <div class="content-layer">
            <!-- On Desktop -->
            <div class="desktop-area">
                <!-- User Area -->
                <div class="user-area-in-desktop">
                
                </div>
                <!-- Book Area -->
                <div class="book-cover-in-desktop">

                </div>
            </div>

            <!-- On Mobile -->
        </div>
    </body>
</html>