<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Content Area -->
        <div class="content-layer">
            <!-- On Desktop -->
            <div class="layer">
                <!-- User Area -->
                {% include user-info-desktop.html %}
                <!-- Book Area -->
                <div class="book-cover-layer">
                    <div class="paper-layer">
                        <center>
                            <h1>{{ page.title }}</h1>
                            <h3>{{ page.category }}</h3>
                        </center>

                        <!-- Date -->
                        <p class="post-date">{{ page.date | date: "%Y.%-m.%-d" }}</p>
                        <div class="post-start-line"></div>
                        {{ content }}
                        
                        <div class="post-tag-badge-layer">
                            {% for tag in page.tags %}
                                <p class="tag-badge post-tag-item">{{ tag }}</p>
                            {% endfor %}
                        </div>

                        {% include footer.html %}
                    </div>
                </div>
                {% include postpaper-navbar.html %}
            </div>
        </div>
    </body>
</html>